
.pnlStudentButton{
    -fx-background-color: #FFFFFF;
}

.pnlStudentButton:hover{
    -fx-text-fill: #3333FF;
    -fx-background-color: #E0E0E0;
    -fx-border-color: #3333FF;
    -fx-border-width: 0px 0px 0px 3px;
}
.button{
    -fx-background-color: #808B96;;
}


.button:pressed{
    -fx-background-color: #A2A6AF;
}

.btnSave:hover{
    -fx-background-color: #7E8796;
}
.pnlStudentButton:focused{
    -fx-background-color: #E0E0E0;
    -fx-border-color: #3333FF;
    -fx-border-width: 0px 0px 0px 3px;
}

.table-view .column-header-background{
    -fx-background-color:  #808B96;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}